.body {
  background-color: #0E1616;
  overflow-x: hidden;
  padding: 1em;
}

.nav {
  padding: 0;
  width: 100%;
  justify-content: space-between;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

.navbar-item {
  display: inline;
  margin: 10px;
  font-size: 17px;
  color: #FFFFFF; 
  font-family: LEMON MILK; 
  vertical-align: middle;
  align-items: center;
}

.navbar-links {
  position: relative;
  justify-content: space-between;
  display: inline;
  vertical-align: middle;
  align-items: center;
}

h2 {
  font-family: LEMON MILK;
  color: #25FFE5;
  background: -webkit-linear-gradient(#25FFE5, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  left: 0;
  display: inline;
  height: 10px;
  width: auto;
}

.button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}
