.body {
  background-color: #0E1616;
  overflow-x: hidden;
  padding: 2em;
}

h2 {
  font-family: LEMON MILK;
  color: #25FFE5;
  background: -webkit-linear-gradient(#25FFE5, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-info {
  color: white;
  width: 50vw;
  text-align: center;
}

.team-landing-image {
  width: 50vh;
  height: 100%;
}

.landing {
  display: flex;
  width: 100%;
  align-items: center;
  margin: auto;
}

.right-landing {
  align-items: center;
  display: block;
  position: relative;
  vertical-align: middle;
}

.logo-landing {
  position: relative;
}

.jett-landing {
  position:absolute;
  right: 0;
  mix-blend-mode: lighten;
}