.body {
  background-color: #0E1616;
  overflow-x: hidden;
  padding: 2em;
}

h2 {
  font-family: LEMON MILK;
  color: #25FFE5;
  background: -webkit-linear-gradient(#25FFE5, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-info {
  color: white;
  width: 30vw;
  text-align: center;
  font-size: 20px;
  font-family: Oxygen;
}

.team-landing-image {
  width: 50vh;
  height: auto;
  align-items: center;
}

.showcase .landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 80vh;
  align-items: center;
  margin: auto;
}

.subheader {
  text-align: center;
}

.right-landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo-landing {
  position: relative;
  height: 120%;
  width: 120%;
}

.jett-landing {
  position: absolute;
  right: 0;
  top: 20vh;
  mix-blend-mode: lighten;
  z-index:0;
}

/* centering is still a bit off */
.games-and-sponsors-text {
  font-family: LEMON MILK;
  color: white; 
  font-weight: 400;
  font-size: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-img {
  /* not sure if pixels are the best way to size */
  width: 1218.45px;
  height: 331.25px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.sponsors-img {
  width: 1005px;
  height: 259px;  
  display: block;
  margin-left: auto;
  margin-right: auto;  
}