.header {
    text-align: center;
}

.landing-info2 {
    color: white;
    width: 30vw;
    text-align: center;
    font-size: 20px;
    font-family: Oxygen;
}

.left {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    height: 10%;
    width: auto;
    display: inline-block;
}

.subheader {
    font-size: 15px;
    display: inline-block;
}

.description {
    color: white;
}

.grid-container {

}

.item {
    
}