.body {
    background-color: #0E1616;
    overflow-x: hidden;
  }

.play-header {
    font-family: LEMON MILK;
    color: #25FFE5;
    background: -webkit-linear-gradient(#25FFE5, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 64px; 
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-info {
    color: white;
    width: 918px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    font-family: Oxygen;
    align-items: center;
    margin-top: 61px;
    margin-left: auto; 
    margin-right: auto;
  }

  .header{
    font-family: LEMON MILK;
    color: #FFEAA1;
    background: -webkit-linear-gradient(#FFEAA1, #CD934E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 54px; 
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 144px;
}

.subheader{
    font-family: LEMON MILK;
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.card-container {
  display: grid;
  grid-template-columns: 230px auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 125px;
}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.role {
  display: inline-flex; 
  padding-left: 5px;
}

.info {
  margin-left: 5px;
}

/*name of players */
.name {
  font-family: LEMON MILK;
  color: #00FFE1;
  font-weight: 500;
  font-size: 25px;
}
.role {
  font-family: LEMON MILK;
  color: #00FFE1;
  font-weight: 200;
  font-size: 25px;
}
.major {
  font-family: LEMON MILK;
  color: #ffffff;
  font-weight: 150;
}
.year {
  font-family: LEMON MILK;
  color: #ffffff;
  font-weight: 150;
}

.p {
  font-family: Oxygen;
  font-size: 20px;
}