.container {
    font-family: Oxygen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 0 15em;
}

@media (max-width: 1200px) {
    .container {
      display: block;
    }
}

.position {
    text-transform: uppercase;
}

.name {
    text-transform: uppercase;
    display: inline-block;
    font-family: LEMON MILK;
}

.alias {
    text-transform: uppercase;
    display: inline-block;
    font-family: LEMON MILK;
}

.firstline {
    display: inline-block;
    color: #00FFE1;
}

.info {
    position: relative;
}

.card {
    align-items: center;
    width: 35%;
    margin: 1em;
    text-align: center;
    z-index: 4;
    
}

.photo {
    align-items: center;
    display: inline;
    z-index: 15;
}

.pengu {
    position: absolute;
    right: 0;
    top: 180vh;
    mix-blend-mode: lighten;
  }
.guy {
    position: absolute;
    left: 0;
    top: 230vh;
    mix-blend-mode: lighten;
}