.body {
    background-color: #0E1616;
}

.container {
    font-family: Oxygen;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
}

@media (max-width: 800px) {
    .container {
      display: block;
    }
}

.position {
    text-transform: uppercase;
}

.name {
    text-transform: uppercase;
    display: inline-block;
    font-family: LEMON MILK;
}

.alias {
    text-transform: uppercase;
    display: inline-block;
    font-family: LEMON MILK;
}

.firstline {
    display: inline-block;
    color: #00FFE1;
}

.info {
    position: relative;
}

.card {
    align-items: center;
    width: inherit;
    margin: auto;
    text-align: center;
}

.photo {
    align-items: center;
    display: inline;
}

#title {
    text-transform: uppercase;
    font-family: LEMON MILK;
}

.pengu {
    position: absolute;
    right: 0;
    top: 180vh;
    mix-blend-mode: lighten;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
.guy {
    position: absolute;
    left: 0;
    top: 230vh;
    mix-blend-mode: lighten;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#title {
    text-transform: uppercase;
    font-family: LEMON MILK;
}

#bioName {
    color: #00FFE1;
    text-transform: uppercase;
    font-family: LEMON MILK;
}

.tooltip {
    width: 40%;
}