.body {
    background-color: #0E1616;
    overflow-x: hidden;
  }

.gallery-header {
    font-family: LEMON MILK;
    color: #25FFE5;
    background: -webkit-linear-gradient(#25FFE5, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 64px; 
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-info {
    background: linear-gradient(180deg, #FFEAA1 14.9%, #CD934E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 918px;
    text-align: center;
    font-size: 24px;
    /* line-height: 35px; */
    font-family: Oxygen;
    align-items: center;
    margin-top: 61px;
    margin-left: auto; 
    margin-right: auto;
  }


  .photo-row {
    display: flex; 
    align-items: center;
    justify-content: center;
    column-gap: 5vh;
  }

  .gallery-container {
    column-gap: 10vh;
  }

  .photo {
      max-width: 300px; 
  }

  .image {
    width: 300px; 
    height: 230px; 
    transition: transform .2s;
    object-fit: scale-down;
  }

  .image:hover {
    transform: scale(1.25);
  }

  .category-buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20vh;
    padding-bottom: 5vh; 

  }
  .category-button {
    cursor: pointer;
    font-family: LEMON MILK; 
    font-size: 24px; 
    font-weight: lighter;

  }

  .category-button-active {
    background: linear-gradient(180deg, #FFEAA1 14.9%, #CD934E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 28px; 
  }
  
  /* bandaid solution rn: will try to make the buttons underline with the states */
  .category-button:hover {
    text-decoration: underline; 
  }
