.body {
    background-color: #0E1616;
    overflow-x: hidden;
  }

.shop-header {
    font-family: LEMON MILK;
    color: #25FFE5;
    background: -webkit-linear-gradient(#25FFE5, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 64px; 
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-info {
  color: white;
  width: 918px;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  font-family: Oxygen;
  align-items: center;
  margin-top: 61px;
  margin-left: auto; 
  margin-right: auto;
}

.shop-info-champ {
    background: linear-gradient(180deg, #FFEAA1 14.9%, #CD934E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 918px;
    text-align: center;
    font-size: 24px;
    /* line-height: 35px; */
    font-family: Oxygen;
    align-items: center;
    margin-top: 61px;
    margin-left: auto; 
    margin-right: auto;
  }

  .champ-icon {
    width: 36.94px;
    height: 43.67px;
  }
  .champ-price-icon {
    width: 27px;
    height: 31.92px;
  }
  .shop-champ-button, .order-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh; 
  }

  .shop-row {
    display: flex; 
    align-items: center;
    justify-content: center;
    column-gap: 10vh; 
  }

  .shop-item {
      max-width: 300px; 
  }
  .shop-text {
    display: flex; 
    justify-content: space-between;
    height: 80px;
  }

  .shop-prices {
    text-align: right; 
  }

  .shop-image {
    width: 300px; 
    height: 300px; 
    transition: transform .2s;
  }

  .shop-image:hover {
    transform: scale(1.1);
  }

  .product {
      font-family: Oxygen; 
      font-weight: 700; 
      width: 200px; 
  }
  .regular-price, .champ-price{
    font-family: LEMON MILK; 
  }
  .regular-price {
      color: #B4B4B4;
  }
  .champ-price {
    background: linear-gradient(180deg, #FFEAA1 14.9%, #CD934E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

  }
  .sizes {
    font-family: LEMON MILK; 
    padding: 0px; 
    margin-top: -2vh; 
  }

  .category-buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20vh;
    padding-bottom: 5vh; 

  }
  .category-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    font-family: LEMON MILK; 
    font-size: 20px; 
    font-weight: 500;
    letter-spacing: 2px;
    /* display: table-cell; */
    /* vertical-align: text-bottom; */

    transition: 0.5s

  }

  .category-button-active {
    background: linear-gradient(180deg, #FFEAA1 14.9%, #CD934E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 28px; 
  }
  
  /* bandaid solution rn: will try to make the buttons underline with the states */
  .category-button:hover {
    text-decoration: underline; 
    letter-spacing: 5px;
  }