@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

.blurb-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 60vh;
    align-items: center;
    margin: auto;
    margin-top: 100px;
  }
/* icon + header */
.blurb-title {
    display: flex; 
    flex-direction: row; 
}
/* just header */
.blurb-title-text {
    font-family: LEMON MILK;
    color: white; 
    font-weight: 500;
    font-size: 48.63px;
}
/* just icon */
.blurb-title-icon {
    display: inline-flex; 
    padding-right: 1em;
}
.blurb-paragraph {
    font-family: Oxygen; 
    color: white; 
    font-size: 20.47px; 
    line-height: 35px;
    margin-top: -10px;
}
.blurb-img {
    width: 60vh; 
    height: auto; 
    align-items: center; 
}

.blurb-img-right {
    width: 60vh; 
    height: auto; 
    align-items: center; 
    margin-left: 120px;
}
