.thin-btn {
    padding: 20px;
    width: auto;
    min-width: 200px;
    height: auto;
    margin: 5px;
    color: white; /* text color */
    border-style: solid;
    /*outline-offset: 4px; */
    font-size: 18px;
    text-align: center;
    transition: 0.4s;
    background-size: 200% auto;
    /*box-shadow: 0 0 20px #eee;  optional */
    background-color: transparent; /* optional */
    transform: skewX(-25deg);
}

.thin-btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.thin-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.thin-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.4s;
}

.thin-btn:hover span {
    padding-right: 25px;
}

.thin-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.thin-button-text {
    font-family: LEMON MILK;
    color: white; 
    font-weight: 400;
    font-size: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewX(25deg); 
}

.thin-btn-1 {
    background-image: linear-gradient(to right, #08C5AE 0%, #000000 50%, #08C5AE 100%);  /* from figma-- could make the right side darker */ 
    border: none; 
}

.thin-overlay {
    padding: 20px;
    width: auto; 
    min-width: 230px;
    height: 40px;
    margin: -5px 0 0 20px;
    outline: 1px solid white; 
    outline-color: white; /* any color you like! */
    outline-style: solid;
    transform: skewX(-25deg);
    position: absolute;
    z-index: 4;
    pointer-events:none;
}

.ThinLegendsButton {
    z-index: 2;
    align-items: center;
}